<h1>Carrito de Compras</h1>
<div>
    <div>
        {{#each productos}}
        <table>
            <tbody>
                <tr>
                    <td>
                        <h3>{{this.product.title}}</h3>
                    </td>
                    <td>
                        <h4>Cantidad: {{this.quantity}}</h4>
                    </td>
                    <td>
                        <h4>Precio: ${{this.product.price}}</h4>
                    </td>
                    <td>
                        <button onclick="deleteProdFromUser('{{this.cartId}}', '{{this.product._id}}')">Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        {{/each}}
        <div>
            <h3>Valor a compra: ${{totalPurchase}}</h3>
            <div>
                <a href="/products">Seguir comprando</a>
                <form action="/api/carts/{{cartId}}/purchase" method="POST">
                    <button type="submit">Realizar compra</button>
                </form>
                <button onclick="emptyUserCart('{{cartId}}')">Vaciar Carrito</button>
            </div>
        </div>
    </div>

    
    <script src="/js/cart.js"></script>