<div>
    <h5>
        Listado de Productos
    </h5>
    <a href="/carts/{{cartId}}"> Carrito de compras
    </a>
</div>
<div>
    {{#each productos}}
    <div>
        <div>
            <div>
                Codigo del producto: {{code}}
            </div>
            <div>
                <ul>
                    <li>
                        <img src="{{thumbnail}}" alt="{{title}}">
                    </li>
                    <li>
                        <h5>
                            {{title}}
                        </h5>
                    </li>
                    <li>
                        <p><span>Unidades
                                disponibles:</span> {{stock}}
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>
                                Precio:
                            </span>
                            ${{price}}
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>
                                Categoria:
                            </span>
                            {{category}}
                        </p>
                    </li>
                </ul>
                <div>
                    <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
                        <button type="submit">
                            Agregar al Carrito
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<div>
    <div>
        <p>
            <a href="/products?page={{prevPage}}">Prev
            </a>
            {{currentPage}} / {{totalPages}}
            <ahref="/products?page={{nextPage}}">Next
            </a>
        </p>
    </div>
</div>