{{#if user}}
<header>
    <h1>Mi perfil</h1>
    <p>Bienvenido! {{user.first_name}} {{user.last_name}}!</p>
    <p>Rol: {{user.role}} </p>
    <a href="/api/sessions/logout">Logout</a>
</header>
{{/if}}

<hr>

<div class="container">
    <h1>Listado de Productos</h1>
    <ul>
        {{#each productos}}
        <li><strong>{{titulo}}</strong></li>
        <li>{{descripcion}}</li>
        <li>Precio: ${{precio}}</li>
        <button> Agregar al Carrito </button>
        <hr>
        {{/each}}
    </ul>
    <div class="pagination">
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Anterior</a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Siguiente</a>
        {{/if}}
        <p>Página {{currentPage}} de {{totalPages}}</p>
    </div>
</div>